<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
        </button>
        <a class="navbar-brand" th:href="@{/}">Testing System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/admin/modules/new'}">Create new Module</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Rating</th>
                    <th>Time(Minutes)</th>
                    <th>Percent success</th>
                    <th>Attempts</th>
                    <th>Number of questions</th>
                    <th>Number of answers</th>
                    <th>Number of question without answers</th>
                    <th>Is Active</th>
                    <th>Created At</th>
                    <th/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${modules}">
                    <td th:text="${item.title}"/>
                    <td th:text="${item.rating}"/>
                    <td th:text="${item.time}"/>
                    <td th:text="${item.percentSuccess} + '%'"/>
                    <td th:text="${item.attempts}"/>
                    <td th:text="${item.questions.size()}"/>
                    <td th:text="${item.countAnswers()}"/>
                    <td th:text="${item.countQuestionWithoutAnswers()}"/>
                    <td th:text="${item.isActiveModule()} ? 'Yes' : 'No'"/>
                    <td th:text="${#temporals.format(item.createdAt, 'dd-MM-yyyy HH:mm')}"/>
                    <td><a th:href="${'/admin/modules/' + item.id + '/edit'}" class="btn btn-primary">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>