<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
        </button>
        <a class="navbar-brand" th:href="@{/}">Testing System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/admin/modules'}">Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6 section-div">
            <form th:action="${'/admin/modules/save'}" th:method="post" th:object="${module}">
                <div th:each="err : ${#fields.errors()}" th:text="${err}" class="alert alert-danger" role="alert"></div>
                <div>
                    <input hidden="hidden" name="id" th:field="*{id}"/>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <textarea name="title" th:type="text" class="form-control" id="title" rows="5"
                              placeholder="Enter title" th:field="*{title}"></textarea>
                </div>
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <input name="rating" th:type="text" class="form-control" id="rating"
                           placeholder="Enter rating" th:field="*{rating}"/>
                </div>
                <div class="form-group">
                    <label for="time">Time(in minutes)</label>
                    <input name="time" th:type="text" class="form-control" id="time"
                           placeholder="Enter time in minutes" th:field="*{time}"/>
                </div>
                <div class="form-group">
                    <label for="percentSuccess">Percent success</label>
                    <input name="percentSuccess" th:type="text" class="form-control" id="percentSuccess"
                           placeholder="Enter percent success" th:field="*{percentSuccess}"/>
                </div>
                <div class="form-group">
                    <label for="attempts">Attempts</label>
                    <input name="attempts" th:type="text" class="form-control" id="attempts"
                           placeholder="Enter attempts" th:field="*{attempts}">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <div th:if="${!module.isNew()}" class="section-div">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalQuestion"
                        id="addQuestion">
                    Add question
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modalQuestion" tabindex="-1" role="dialog"
                     aria-labelledby="modalQuestionTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalQuestionTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="${'/admin/modules/' + module.id + '/questions'}" th:method="post"
                                      name="question">
                                    <div>
                                        <input hidden="hidden" name="id" id="questionId"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <textarea name="title" th:type="text" class="form-control" rows="5"
                                                  placeholder="Enter title"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="saveQuestion">Save</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modalAnswer" id="addAnswer">
                                    Add answer
                                </button>
                                <p class="answer-info">*At least two answers to activate the module</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalAnswer" tabindex="-1" role="dialog" aria-labelledby="modalAnswerTitle"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalAnswerTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="${'/admin/questions/' + module.id + '/answers'}" th:method="post"
                                      name="answer">
                                    <div>
                                        <input hidden="hidden" name="id"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="titleAnswer">Title</label>
                                        <textarea name="title" th:type="text" class="form-control" rows="5"
                                                  placeholder="Enter title" id="titleAnswer"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="correctly">Correctly</label>
                                        <input name="correctly" th:type="checkbox" class="form-control" id="correctly"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="saveAnswer">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 section-div">
            <h5>Questions: </h5>
            <ul class="list-group questionGroup">
                <li class="list-group-item question" th:each="item: ${module.questions}" th:attr="data-id=${item.id}">
                    <span th:text="${item.title}" class="questionItem"></span>
                    <div class="answersDiv col-lg-12">
                        <span>Answers</span>
                        <ul class="list-group">

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/moduleForm.js}"></script>
</th:block>
</html>