<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">

<div layout:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
        </button>
        <a class="navbar-brand" th:href="@{/}">Testing System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="${'/admin/students'}">Students</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="${'/admin/report/success'}">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Register date</th>
                <th>Assigned modules</th>
                <th>Add modules</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${students}">
                <td th:text="${item.firstName}"/>
                <td th:text="${item.lastName}"/>
                <td th:text="${item.username}"/>
                <td th:text="${#temporals.format(item.createdAt, 'dd-MM-yyyy HH:mm')}"/>
                <td class="assignedModules">
                    <span th:each="itemModule : ${item.userModules}" th:text="${itemModule.module.title}"
                          style="display: block"/>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            th:attr="data-target=${'#' + item.id}">
                        Add
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="${item.id}" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Add modules</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form name="userModules" th:action="${'/admin/users/' + item.id} + '/modules'"
                                          method="post">
                                        <select class="form-control" multiple="multiple" name="modules">
                                            <option th:each="part: ${modules}" th:value="${part.id}"
                                                    th:text="${part.title}" th:if="${!item.containsModule(part)}"/>
                                        </select>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary saveUserModules">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/student.js}"></script>
</th:block>
</html>