<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
        </button>
        <a class="navbar-brand" th:href="@{/}">Testing System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/modules'}">Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div th:text="'Title module: ' + ${passModule.getUserModule().getModule().getTitle()}"></div>
            <div th:text="'Max rating: ' + ${passModule.getUserModule().getModule().getRating()}"></div>
            <div th:text="'Min percent success: ' + ${passModule.getUserModule().getModule().getPercentSuccess()} + '%'"></div>
            <div th:text="'Time for test : ' + ${passModule.getUserModule().getModule().getTime()} + ' minutes'"></div>
            <span>Start time</span>
            <span th:text="${#temporals.format(passModule.getTimeStart(), 'dd-MM-yyyy HH:mm:ss')}"/>
            <div th:if="${passModule.status != T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).IN_PROGRESS}">
                <span>End time</span>
                <span th:text="${#temporals.format(passModule.getTimeEnd(), 'dd-MM-yyyy HH:mm:ss')}"/>
            </div>
            <div id="timeLeft"
                 th:if="${passModule.status == T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).IN_PROGRESS}"></div>
            <div id="questionDiv" style="margin: 50px 0"
                 th:if="${passModule.status == T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).IN_PROGRESS}">
                <div th:each="item : ${passModule.getUserModule().getModule().getQuestions()}" th:id="${item.id}"
                     style="display: none;">
                    <span th:text="${item.title}"/>
                    <ul>
                        <li th:each="answer: ${item.answers}">
                            <span th:text="${answer.title}"/>
                            <form th:action="${'/modules/passModules/' + passModule.id + '/answers/' + answer.id}"
                                  th:method="post" style="display: inline-block">
                                <input type="hidden" name="passModuleId" th:value="${passModule.id}">
                                <input type="hidden" name="answerId" th:value="${answer.id}">
                                <input type="checkbox" name="result">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="result"
                 th:if="${passModule.status != T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).IN_PROGRESS}">
                <div>
                    <span>Result</span>
                    <span th:text="${passModule.status.toString()}"/>
                    <span>Rating:</span>
                    <span th:text="${#numbers.formatDecimal(passModule.rating, 1, 'DEFAULT', 2, 'DEFAULT')}"/>
                    <span>Percent:</span>
                    <span th:text="${#numbers.formatDecimal(passModule.getRatingPercent(), 1, 'DEFAULT', 2, 'DEFAULT')} + '%'"/>
                </div>
            </div>
            <div th:if="${passModule.status == T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).IN_PROGRESS}">
                <button class="btn btn-primary" id="prev">Prev</button>
                <button class="btn btn-primary" id="next">Next</button>
                <div id="finish" style="display: none; margin-top: 50px">
                    <form name="sbtResult" th:action="${'/modules/passModules/' + passModule.id}" method="post">
                        <button type="submit" class="btn btn-primary">Finish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var expired = [[${passModule.getExpiredAt().toString()}]];
        /*]]>*/
    </script>
    <script th:src="@{/js/process.js}"></script>
</th:block>
</html>