nav {
    margin-bottom: 50px;
}

.error {
    color: red;
    font-size: 10px;
}

.section-div {
    margin-top: 30px;
}

.question {
    cursor: pointer;
}

form.report {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.answer-info {
    display: inline-block;
    width: 120px;
    padding-top: 10px;
    color: red;
    font-size: 10px;
}