<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 section-div">
            <div th:if="${#request.getParameter('error')}" class="text-center">
                <p style="color: red">Username or password is wrong. Please check again!</p>
            </div>
            <div th:if="${#request.getParameter('success')}" class="text-center">
                <p style="color: green">You have successfully registered</p>
            </div>
            <div th:if="${#request.getParameter('logout')}" class="text-center">
                <p style="color: blue">Logged out.</p>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" id="username"
                           placeholder="Enter username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password"
                           placeholder="Enter password"/>
                </div>
                <div>
                    <a th:href="${'/registration'}">Registration here</a>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>