<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 section-div">
            <form th:action="${'/registration'}" th:method="post" th:object="${registration}">
                <div th:each="err : ${#fields.errors()}" th:text="${err}" class="alert alert-danger" role="alert"></div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input name="firstName" th:type="text" class="form-control" id="firstName"
                           placeholder="Enter first name" th:field="*{firstName}"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" th:type="text" class="form-control" id="lastName"
                           placeholder="Enter last name" th:field="*{lastName}"/>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" th:type="text" class="form-control" id="username"
                           placeholder="Enter username" th:field="*{username}"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" th:type="password" class="form-control" id="password"
                           placeholder="Enter password" th:field="*{password}">
                </div>
                <div class="form-group">
                    <label for="matchPassword">Confirm Password</label>
                    <input name="matchPassword" th:type="password" class="form-control" id="matchPassword"
                           placeholder="Confirm password" th:field="*{matchPassword}"/>
                </div>
                <div>
                    <a th:href="${'/login'}">Back to login</a>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>