<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">

<div layout:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
        </button>
        <a class="navbar-brand" th:href="@{/}">Testing System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="${'/admin/students'}">Students</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="${'/admin/report/success'}">Report Success</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <div class="row">
        <div th:if="${#request.getParameter('module') != null && #request.getParameter('module').length() > 0}">
            <a th:href="@{/admin/report/getPDF(status=${T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).FAILED.name()}, module=${#request.getParameter('module')})}" class="btn btn-primary">Get PDF</a>
            <a th:href="@{/admin/report/getXLS(status=${T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).FAILED.name()}, module=${#request.getParameter('module')})}" class="btn btn-primary">Get XLS</a>
            <a th:href="@{/admin/report/getDOC(status=${T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).FAILED.name()}, module=${#request.getParameter('module')})}" class="btn btn-primary">Get DOC</a>
        </div>
        <form class="report">
            <label for="moduleSelect">Choose module for report</label>
            <select class="module" id="moduleSelect">
                <option value="">Choose module</option>
                <option th:each="item: ${modules}" th:text="${item.title}" th:value="${item.id}"/>
            </select>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Module Title</th>
                <th>Rating</th>
                <th>Percent</th>
                <th>Finished At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${report}">
                <td th:text="${item.user.firstName}"/>
                <td th:text="${item.user.lastName}"/>
                <td th:text="${item.user.username}"/>
                <td th:text="${item.userModule.module.title}"/>
                <td th:text="${#numbers.formatDecimal(item.userModule.rating, 1, 'DEFAULT', 2, 'DEFAULT')}"/>
                <td th:text="${#numbers.formatDecimal(item.userModule.getRatingPercent(), 1, 'DEFAULT', 2, 'DEFAULT')}"/>
                <td th:text="${#temporals.format(item.userModule.finishedAt, 'dd-MM-yyyy HH:mm')}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var moduleId = [[${#request.getParameter('module')}]];
        /*]]>*/
    </script>
    <script th:src="@{/js/report.js}"></script>
</th:block>
</html>