<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<div layout:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
        </button>
        <a class="navbar-brand" th:href="@{/}">Testing System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/modules/result'}">Result Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Max Rating</th>
                    <th>Time(Minutes)</th>
                    <th>Percent success</th>
                    <th>Attempts</th>
                    <th/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${modules}">
                    <td th:text="${item.module.title}"/>
                    <td th:text="${item.module.rating}"/>
                    <td th:text="${item.module.time}"/>
                    <td th:text="${item.module.percentSuccess} + '%'"/>
                    <td th:text="${item.module.attempts}"/>
                    <td>
                        <form th:action="${'/modules/' + item.id + '/passModules'}" th:method="post"
                              th:if="${item.status == T(com.geekhub.testing_system.admin.usermodule.ModuleStatus).IN_PROGRESS}">
                            <button th:type="submit" class="btn btn-primary">Run test</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>