<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
        </button>
        <a class="navbar-brand" th:href="@{/}">Testing System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/modules'}">Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Max Rating</th>
                    <th>Status</th>
                    <th>Percent result</th>
                    <th>Time finish</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${modules}">
                    <td th:text="${item.getModule().getTitle()}"/>
                    <td th:text="${#numbers.formatDecimal(item.getRating(), 1, 'DEFAULT', 2, 'DEFAULT')}"/>
                    <td th:text="${item.status.toString()}"/>
                    <td th:text="${#numbers.formatDecimal(item.getRatingPercent(), 1, 'DEFAULT', 2, 'DEFAULT')} + '%'"/>
                    <td th:text="${#temporals.format(item.getFinishedAt(), 'dd-MM-yyyy HH:mm:ss')}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>